@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    display:flex;
    font-family: 'Cormorant Garamond', serif;;
}

#column-1 {
    height: 100dvh;
    flex: 1 1 40%;
    background-image: url("../imgs/dream-house.jpg");
    background-size: cover;
    background-position: top left;
}

#column-2 {
    border: solid lawngreen 3px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 100dvh;
    flex: 1 1 60%;
}

.header {
    background-color: rgb(236, 236, 236);
    min-height: 30dvh;
    border: solid red 1px;
    display: flex;
    flex : 1;
}

.form-section {
    min-height: 25dvh;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    flex : 1;
}

.footer {
    background-color: rgb(236, 236, 236);
    flex: 1;
    border: solid red 1px;
    display: flex; 
}

.shader {
    display: flex;
    background-color: rgba(0,0,0,0.7);
    height: 200px;
    position: relative;
    top: 30%;
    align-items: center;
    justify-content:center;
    margin: auto;
}

.form {
    border: 1px orangered solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    padding: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: min-content;
}

.companyName {
    color: white;
    font-size: clamp(1.5rem, 5vw, 3rem);
    vertical-align: middle;
    text-align: center;
    height: 100%;
    font-weight: bold;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 75%;
    align-items: center;
    justify-content: center;
}

#home-img {
    vertical-align: middle;
}

.block {
    margin: auto;
    display: flex;
    flex-direction: column;
    border: solid green 1px;
    justify-content: center;
    height: 100%;
    width: 80%;
}

p {
    border: blue solid 1px;;
}

.row {
    display: flex;
    justify-items:flex-start;
    row-gap: 10px;
    column-gap: 50px;
    border: solid 1px aqua;
    max-width: 500px;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid 1px green;
    float: left;
    gap: 3px;
}

label {
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

div > p.login-text {
    font-size: 14px;
}

p {
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    font-weight: bold;
}

button {
    width: 12rem;
    height: 2rem;
    background-color: #5a005d;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    font-size: 18px;
}

a {
    color: #5a005d;
    text-decoration: none;
}

input:not(:placeholder-shown):invalid {
    border: 1px solid red;
  }

input:focus {
    border-color: rgb(138, 138, 254);
    background-color: rgb(236, 234, 234);
}

.error {
    color:red;
}